<div class="container col-md-6 col-md-offset-3">
  <table class="table table-striped">
    <tr>
      <th>Item id:</th>
      <td><%= @stock.item_id %></td>
    </tr>
    <tr>
      <th>Quantity:</th>
      <td><%= @stock.quantity %></td>
    </tr>
    <tr>
      <th>Unit price:</th>
      <td><%= @stock.unit_price %></td>
    </tr>
    <tr>
      <th>Estimated sellig price:</th>
      <td><%= @stock.est_sell_price %></td>
    </tr>
  </table>
</div>