<div class="row">
  <div class="col-md-12">
    <h3>Settings|
      <small>users</small>
    </h3>
    <hr>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/settings/index">Settings</a></li>
      <li>Users</li>
    </ol>
  </div>
</div>
<table class="table table-bordered" id="items">
  <thead>
  <tr class="bg-success">
    <th>SN</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user,i| %>
      <tr>
        <td>
          <%= (@page.to_i - 1) * @number_of_items_per_page + i+1 %>
        </td>
        <td><%= user.email%></td>
      </tr>
  <% end %>
  </tbody>
</table>