<div class="row">
  <div class="col-md-12">
    <h3>Purchase|
      <small>New</small>
    </h3>
    <hr>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/purchases">Purchases</a></li>
      <li>New</li>
    </ol>
  </div>
</div>
<% if @purchase.errors.any? %>
    <div class="alert-danger">
      <h1>
        <%= pluralize(@purchase.errors.count, "error") %>
        occured
      </h1>
      <ul>
        <% @purchase.errors.full_messages.each do |e| %>
            <li> <%= e %> </li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= render "form" %>