<div class="container col-md-6 col-md-offset-3">
  <table class="table table-striped">
    <tr>
      <th>Name:</th>
      <td><%= @customer.name %></td>
    </tr>
    <tr>
      <th>Address:</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th>Contact no:</th>
      <td><%= @customer.contact_no %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= @customer.email %></td>
    </tr>
  </table>
</div>