<div class="container col-md-6 col-md-offset-3">
  <table class="table table-striped">
    <tr>
      <th>Name:</th>
      <td><%= @item_group.name %></td>
    </tr>
    <tr>
      <th>Parent id:</th>
      <td><%= @item_group.parent_id %></td>
    </tr>
    <tr>
      <th>Unit price:</th>
      <td><%= @item_group.description %></td>
    </tr>
  </table>
</div>