<div class="row">
  <div class="col-md-12">
    <h3>Settings|
      <small>Logs</small>
    </h3>
    <hr>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/settings/index">Settings</a></li>
      <li>Logs</li>
    </ol>
  </div>
</div>
<table class="table table-bordered" id="logs">
  <thead>
  <tr class="bg-success">
    <th>SN</th>
    <th>User's Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% @logs.each_with_index do |log, i| %>
      <tr>
        <td>
          <%= (@page.to_i - 1) * @number_of_logs_per_page + i+1 %>
        </td>
        <td><%= log.user.email%></td>
        <td><%= log.description %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#logs').DataTable();
    });
</script>