
  <div class="row">
    <div class="col-md-12">
      <h3>Sales|</h3>
      <hr>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/sales">Sales</a> </li>
        <li>New</li>
      </ol>
    </div>
  </div>
  <% if @sale.errors.any? %>
      <div class="alert-danger">
        <h1>
          <%= pluralize(@sale.errors.count, "error") %>
          occured
        </h1>
        <ul>
          <% @sale.errors.full_messages.each do |e| %>
              <li> <%= e %> </li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <%= render "form" %>
