<div class="container">
  <% if @sale.errors.any? %>
      <div class="alert-danger">
        <h1>
          <%= pluralize(@sale.errors.count, "error") %>
          occured
        </h1>
        <ul>
          <% @sale.errors.full_messages.each do |e| %>
              <li> <%= e %> </li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <%= render "form" %>
</div>