<div class="container col-md-6 col-md-offset-3">
  <table class="table table-striped">
    <tr>
      <th>Name:</th>
      <td><%= @fiscal_year.name %></td>
    </tr>
    <tr>
      <th>Start date:</th>
      <td><%= @fiscal_year.start_date %></td>
    </tr>
    <tr>
      <th>End date:</th>
      <td><%= @fiscal_year.end_date %></td>
    </tr>
  </table>
</div>